@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    width: 100%;
    padding: 2vh 6vh;
    z-index: 1000000;
}

header.sticky{
    padding: 1vh 6vh;
    background: #FFF;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 15px;
    list-style: none;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 400px;
    font-size: 1.5em;
    transition: 0.6s;
}

header ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5abef0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



header .name{
    position: relative;
    font-weight: 700;
    color: #FFF;
    font-size: 2.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
}

header.sticky .name{
    color: #000;
}

header.sticky ul li a{
    color: #000;
}

body{
    background-color:#000;
    min-height: 200vh;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("images/banner_final.jpg");
    background-size: cover;
}

header ul li a:hover{
    color: #5abef0;
}

header.sticky ul li a:hover{
    color: #5abef0;
}